.btn-mod{
	background-color: transparent !important;
	border: 1px solid #E0E2F7;
}

.btn-mod.green{
	color: #36C900;
	border: 1px solid #36C900;
}

.btn.secondary{
	border: 1px solid #186CFF;
	background-color: white;
	color: #186CFF;
}

.btn-mod.green:hover{
	color: white;
	background-color: #36C900 !important;
}

.btn-mod.btn-nav.primary{
	color: white;
	background-color: rgba(225,226,247,.3) !important;	
	border: 1px solid #E0E2F7;
}