@import "btn.css";

body{
	background-color: #DFDFDF;
}
.backgroundBlanco{
	background-color: #fff;
}
.ejemplo{
	width: 0px;
}

.container{
	padding:2.5%;
}

@media(min-width: 1000px){
	.ejemplo{
		width: 100%;
	}
}

.navbarFormCasas a{
	color: #ef6c00;
	text-align: center;
	text-decoration: none;	
}

.bold{
	font-weight: bold;
}

.padding-left{
	padding-left: 10px;
}
