@import "btn.css";

body{
	background-color: #E0E2F7;
}

.backgroundBlanco{
	background-color: #fff;
}
.ejemplo{
	width: 0px;
}

.container{
	padding:2.5%;
}

@media(min-width: 1000px){
	.ejemplo{
		width: 100%;
	}
}

.navbarFormCasas a{
	color: #ef6c00;
	text-align: center;
	text-decoration: none;	
}

.bold{
	font-weight: bold;
}

.padding-left{
	padding-left: 10px;
}

.slogan{
	color: white; 
	position: absolute;
	width: 50%;
	height: 50%;
	text-align: center;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}

.nav{
	background-color: white;
}
.row{
	margin:0px !important;
}
li{
	border-left: 1px solid #E0E2F7;
	padding: 20px !important;
}