@import "btn.css";

body{
	background-color: #E0E2F7;
}

.backgroundBlanco{
	background-color: #fff;
}
.ejemplo{
	width: 0px;
}

.container, .cont{
	padding:2.5%;
}

@media(min-width: 1000px){
	.ejemplo{
		width: 100%;
	}
}

.navbarFormCasas a{
	color: #ef6c00;
	text-align: center;
	text-decoration: none;	
}

.bold{
	font-weight: bold;
}

.padding-left{
	padding-left: 10px;
}

.slogan{
	color: white; 
	*/*position: absolute;
	width: 50%;
	height: 50%;*/
	text-align: center !important;
	padding-top:80px;
	padding-bottom:80px;
	/*
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;*/
	transition: .3s;
	margin-top:0 !important;
	margin-bottom:0 !important;
}

.nav{
	background-color: white;
	border-bottom: 1px solid #C7C9E1;
}
.row.barra{
	margin:0px !important;
}
.nav ul a{
	border-left: 1px solid #C7C9E1;
	padding: 20px !important;
	color: #212121;
}

.nav ul a:hover{
	border-bottom: 5px solid #ef6c00;
	padding-bottom: 15px !important; 
}

.top-space{
	margin-top: 20px; 
}

.left-space{
	margin-left: 20px;
}

nav{
	box-shadow: none !important;
	border-bottom: 2px solid #e64a19;
}

.card{
	box-shadow: none;
	border: 1px solid #C7C9E1;
}
.card-action{
	border-color: #C7C9E1 !important;
}
.card:hover{
	box-shadow: none;
	border-color: #ffcc80;
}

.card:hover .card-action{
	border-color: #ffcc80 !important;
}

.fixed{
	position: fixed;
	width: 100%;
	z-index: 100;
}
.debajo{
	height:320px;
}