{%load static%}
<html>
<head>
	
	<title>
		{%block titulo%}
		CasaRent
		{%endblock titulo%}
	</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="{%static 'CasaRentFav.jpeg' %}">
	  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{%static 'css/stilos.css'%}">

</head>
<body>
  <nav class="orange darken-3">
    <div class="nav-wrapper">
      <a href="{%url 'main:home'%}" class="brand-logo left-space">CasaRent</a>
      <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down mobile-demo">
        <li><a href="{%url 'casas:list'%}">Casas disponbiles</a></li>
        <li><a href="{%url 'casas:new'%}">Dar de Alta</a></li>
        <!--<li><a href="{%url 'casas:new'%}">Editar mis Casas</a></li>-->
        {% if request.user.is_authenticated %}
          <li><a href="{%url 'users:logout'%}">Cerrar sesión</a></li>
          <li><a href="{%url 'users:profile'%}">Dashboard</a></li>
        {% else %}
          <li><a href="{%url 'users:login'%}">Iniciar sesión</a></li>
          <li><a href="{%url 'users:signin'%}">Registrate</a></li>
        {% endif %}

      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{%url 'casas:new'%}">Dar de Alta</a></li>
      </ul>
    </div>
  </nav>



	<section class="section">
    <article class="container row" style="">
      {%block content%}
        
      {%endblock content%}
    </article>
  </section>


  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  <script type="text/javascript">
    {%block scripts%}
      $(".button-collapse").sideNav();
    {%endblock scripts%}
  </script>
  
</body>
</html>