{%extends 'base.html'%}

{% block titulo %}
  Casa Rent - Detalle
{% endblock titulo %}
{%block content%}

<h2 class="col s12">Casa en: {{casa.dirección}}, {{casa.municipio}}</h2>


<img class="col s12 m6 materialboxed" src="{{casa.foto.url}}" style="max-width:100%;">
<div class="col s12 m6">
  <p class="col s12">Propietario: 
    <div class="chip">
      {%if casa.propietario.profile.image_profile%}
      <img src="{{casa.propietario.image_profile}}" alt="Contact Person">
      {%endif%}
      {{casa.propietario.username}}
    </div>
  </p>
  <p class="col s12 m6">Municipio: <b>{{casa.municipio}}</b></p>
  <p class="col s12 m6">Precio: <b>{{casa.precio}}</b></p>
  <p class="col s12 m6">Dirección: <b>{{casa.dirección}}</b></p>
  <p class="col s12 m6">Amueblada: <b>{{casa.amueblada}}</b></p>
  <p class="col s12 m6">Teléfono: <b>{{casa.teléfono}}</b></p>
  <p class="col s12 m6">Servicios: <b>{{casa.servicios}}</b></p>
  <p class="col s12 m6">Cochera: <b>{{casa.cochera}}</b></p>
  <p class="col s12 m6">Recámaras: <b>{{casa.recámaras}}</b></p>
  <p class="col s12 m6">Plantas: <b>{{casa.plantas}}</b></p>
  <p class="col s12 m6">Patio: <b>{{casa.patio}}</b></p>
  <p class="col s12 m6">Depósito: <b>{{casa.depósito}}</b></p>
  <p class="col s12 m6">Fecha: <b>{{casa.fecha}}</b></p>
</div>

{%endblock content%}