{% extends 'base2.html' %}

{%load casas_tags%}


{%block titulo%} Lista de Casas {%endblock titulo%}

{% block estilos %}
  .imagen-carta{
  max-height: 300px !important;
  }  

  .row{
  position: relative;
  }
{% endblock estilos %}
{%block content%}
<section>

<article class="col s12">
<h3>
  Total de Casas en Renta: {%numCasas%}
</h3>
<div class="row">
{%for casas in object_list%}

  <div class="col s4 l4 m4">
    <div class="card hoverable">
      <div class="card-image">
        <img class="imagen-carta" src="{{casas.foto.url}}">
         <h6 class="card-title">{{casas.propietario}}</h6>
      </div>
      <div class="card-content">
        <p>Renta: <span >{{casas.precio}}</span ></p>
        <p>Telefono: <span>{{casas.teléfono}}</span></p>
        <p>Amueblada: <span>{{casas.amueblada}}</span></p>

      </div>
      <div class="card-action">
        <a href="{%url 'casas:detail' casas.id%}">Ver más</a>
      </div>
    </div>
  </div>
{%endfor%}
</div>
</article>


</section>

{%endblock content%}