{% extends 'base.html' %}

{%load casas_tags%}


{%block titulo%} Lista de Casas {%endblock titulo%}

{%block content%}
<h2>
  Total de Casas en Renta: 
</h2>

<div class="row">

<div class="row col m8">
{%for casas in object_list%}



 
        <div class="col s4">
          <div class="card hoverable">
            <div class="card-image">
              <img src="{{casas.foto.url}}">
              <span class="card-title">{{casas.municipio}}</span>
            </div>
            <div class="card-content">
              <p>Renta: <span >{{casas.precio}}</span ></p>
              <p>Telefono: <span>{{casas.telefono}}</span></p>
              <p>Amueblada: <span>{{casas.amueblada}}</span></p>

            </div>
            <div class="card-action">
              <a href="{%url 'casas:detail' casas.id%}">Ver más</a>
            </div>
          </div>
        </div>
 




{%endfor%}
</div>


<div class="col m4">
   {%colonia%}
  </div>
  <div class="col m4">
    {%ultimos 2%}
  </div>

</div>  <!-- row master-->


{%endblock content%}