{% extends 'base2.html' %}

{%load casas_tags%}


{%block titulo%} Lista de Casas {%endblock titulo%}

{%block content%}
<h3>
  Total de Casas en Renta: 
</h3>
{%for casas in object_list%}

  <div class="col s4">
    <div class="card hoverable">
      <div class="card-image">
        <img src="{{casas.foto.url}}">
        <span class="card-title">{{casas.propietario}}</span>
      </div>
      <div class="card-content">
        <p>Renta: <span >{{casas.precio}}</span ></p>
        <p>Telefono: <span>{{casas.teléfono}}</span></p>
        <p>Amueblada: <span>{{casas.amueblada}}</span></p>

      </div>
      <div class="card-action">
        <a href="{%url 'casas:detail' casas.id%}">Ver más</a>
      </div>
    </div>
  </div>
 
{%endfor%}


{%endblock content%}